#dayEvents{
  border: 1px solid black;
  height: 720px;
  width: 600px;
  dispay: block;
  position: relative;
}

.event{
  position: absolute;
  width: 100%;
  border: 1px solid blue;
  border-left:3px solid blue;
}
